<div class="row">
    <div class="title-plus">
        <h1 class="title-educacion">Educacion</h1>
        <button type="button" class="btn btn-primary button-plus" routerLink="/nuevaedu" *ngIf="isLogged">
            <img src="../../../assets/plus-circle-regular-24.png" class="new-icon">
        </button>
    </div>

    <div clss="col-xs-11 col-sm-7 col-md-8 col-lg-8 tableEduca">
        <tr *ngFor="let Educacion of educacion">
            <div>
                <h3 class="nombreTitulo">{{Educacion.tituloE}}</h3>
                <p class="nombreAnio">( {{Educacion.anioIE}} - {{Educacion.anioEE}} )</p>
                <p class="nombreLugar">{{Educacion.lugarE}}</p>
                <p class="nombreDescripcion">{{Educacion.descripcionE}}</p>
                <div class="btnEnEduGroup" *ngIf="isLogged">
                    <button class="btn btn-primary btnEnExp" routerLink="/editedu/{{Educacion.id}}">
                        <img src="../../../assets/edit-alt-solid-24.png" class="edit-icon">
                    </button>
                    <button class="btn btn-primary btnEnExp" (click)="delete(Educacion.id)">
                        <img src="../../../assets/trash-regular-24.png" class="trash-icon">
                    </button>
                </div>
                <hr/>
            </div>
        </tr>
    </div>
</div>