<div class="row">
    <div class="container">
        <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa">
            <div class="logos-group">
                <img src="../../../assets/argProg.png" class="logoAP">
                <img src="../../../assets/intiMinisterio.png" class="logoAP">
            </div>
        </a>
        <div class="social-icons-and-button">
            <a href="https://github.com/Jusag"><img src="../../../assets/github-logo-24.png" class="social-icons"></a>
            <a href="https://www.linkedin.com/in/juliosgonz"><img src="../../../assets/linkedin-square-logo-24.png"
                    class="social-icons"></a>
            <button type="button" class="loginbutton btn btn-outline-light" (click)="login()"
                *ngIf="!isLogged">LOGIN</button>
            <button type="button" class="loginbutton btn btn-outline-light" (click)="onLogOut()"
                *ngIf="isLogged">LOGOUT</button>
        </div>
    </div>
</div>