<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100" *ngIf="proyecto">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem">
                    <div class="card-body p-5 text-center">
                        <div class="mb-md-5 mt-md-4 pb-5">
                            <div class="row">
                                <div>
                                    <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                                        <div class="form-group">
                                            <label for="nombreP">Ingrese nombre del Proyecto</label>
                                            <input type="text" class="form-control" id="nombreP" name="nombreP"
                                                [(ngModel)]="proyecto.nombreP" required />
                                        </div>
                                        <div class="form-group">
                                            <label for="descripcionP">Ingrese un detalle del mismo</label>
                                            <input type="text" class="form-control" id="descripcionP" name="descripcionP"
                                                [(ngModel)]="proyecto.descripcionP" required />
                                        </div>
                                        <div class="form-group">
                                            <label for="linkImgP">Ingrese link a imagen miniatura</label>
                                            <input type="text" class="form-control" id="linkImgP" name="linkImgP"
                                                [(ngModel)]="proyecto.linkImgP" required />
                                        </div>
                                        <div class="form-group">
                                            <label for="linkExtP">Ingrese link exterior</label>
                                            <input type="text" class="form-control" id="linkExtP" name="linkExtP"
                                                [(ngModel)]="proyecto.linkExtP" required />
                                        </div>
                                        <button class="btn btn-outline-light btn-lg px-5">Actualizar Proyecto</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>