<div class="row">
    <div class="title-plus">
        <h1 id="title-hys">Proyectos</h1>
        <button type="button" class="btn btn-primary button-plus" routerLink="/nuevaproy" *ngIf="isLogged">
            <img src="../../../assets/plus-circle-regular-24.png" class="new-icon">
        </button>

    </div>

    <div class="container">
        <tr *ngFor="let Proyecto of proyecto">
            <div class="bloque2">
                <a href="{{Proyecto.linkExtP}}">
                    <img class="proyect-image img-fluid" src="{{Proyecto.linkImgP}}">
                </a>
                <div>
                    <h2>{{Proyecto.nombreP}}</h2>
                    <p>{{Proyecto.descripcionP}}</p>
                </div>
            </div>
            
            <div class="btnEnExpGroup bloque1" *ngIf="isLogged">
                <button class="btn btn-primary btnEnExp1" routerLink="/editproy/{{Proyecto.id}}">
                    <img src="../../../assets/edit-alt-solid-24.png" class="edit-icon">
                </button>
                <button class="btn btn-primary btnEnExp2" (click)="delete(Proyecto.id)">
                    <img src="../../../assets/trash-regular-24.png" class="trash-icon">
                </button>
            </div>
        </tr>
    </div>
</div>